streamlit
langchain
langchain-community
langchain-core
langchain-classic
langchain-huggingface
langchain-chroma
langchain-groq
langchain-google-genai
chromadb
requests
sentence-transformers
